.carousel-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;

  }
  .buttons{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .carousel {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .transformations-cards {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    height: 250px;
    width: 20%;
    padding: 10px;
  }
.data{
    width: 100%;
    display: flex;
}
#IMG{
    height: 200px;
}
.card:hover > div > div > img{
    transform: scale(1.4) translateY(-30px);
    transition: 500ms;
    filter: drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.9));
}
#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2  ;
    background-color: rgba(0, 0, 0, 0.433);
}
#cardModal{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background: floralwhite;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#infoModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

  span{
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }